.formContainer {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .inputs {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;     
    width: 200px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #50b2eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #389fe4;
  }
                              