.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 220px;
  }
  
  .input{
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .button2 {
    padding: 10px 20px;     
    font-size: 1rem;
    background-color: #40abdd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button2:hover {
    background-color: #37addb;
  }
  